* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to botttom,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator-container {
	width: 20rem;
	margin-top: -5%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	border-radius: 0.3rem;
	overflow: hidden;
}

.calculator-display {
	background-color: #151515;
	color: white;
	padding: 1.25rem 1.75rem;
	text-align: right;
	font-size: calc(1rem * 1.2 * 1.2);
}

.calculator-buttons {
	display: grid;
	grid-template-areas:
		'plus minus times divide'
		'seven eight nine equal'
		'four five six equal'
		'one two three equal'
		'decimal zero clear equal';
}

.button {
	border: none;
	padding: 1rem 1.25rem;
	background-color: #d1d1d1;
	color: black;
	cursor: pointer;
	transition: background-color 0.1s linear;

	&:hover {
		background-color: #b1b1b1;
	}

	&:active {
		background-color: #9b9b9b;
	}
}

.equal {
	grid-area: equal;
	background-color: rgb(255, 171, 16);

	&:hover {
		background-color: rgb(237, 154, 0);
	}

	&:active {
		background-color: rgb(209, 136, 0);
	}
}

.utility {
	background-color: rgb(191, 191, 191);

	&:hover {
		background-color: #a5a5a5;
	}

	&:active {
		background-color: #8a8a8a;
	}
}

.plus {
	grid-area: plus;
}

.minus {
	grid-area: minus;
}

.times {
	grid-area: times;
}

.divide {
	grid-area: divide;
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five;
}

.six {
	grid-area: six;
}

.seven {
	grid-area: seven;
}

.eight {
	grid-area: eight;
}

.nine {
	grid-area: nine;
}

.zero {
	grid-area: zero;
}

.decimal {
	grid-area: decimal;
}

.clear {
	grid-area: clear;
}
